<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <h1>Kulinerku </h1>
        <nav>
            <a href="/">Home</a>
            <a href="/menu">Menu</a>
            <a href="/admin_login">Profil</a>
            </nav>
        </header>

    <a href="/admin_menu"><button>Kelola Menu</button></a> <p>
    <a href="/admin_orders"><button>Kelola Pesanan</button></a> <p>
    <a href="/admin_sales_report"><button>Laporan Penjualan</button></a> <p>

   
</body>
</html>

