<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelola Order</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <h1>Kulinerku </h1>
        <nav>
            <a href="/">Home</a>
            <a href="/menu">Menu</a>
            <a href="/admin_login">Profil</a>
            </nav>
        </header>
        <table>
            <tr>
                <th>ID</th>
                <th>Nama Pelanggan</th>
                <th>Telepon</th>
                <th>Alamat</th>
                <th>Status</th>
                <th>Ubah Status Pesanan</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.customer_name }}</td>
                <td>{{ order.customer_phone }}</td>
                <td>{{ order.customer_address }}</td>
                <td>{{ order.status }}</td>
                <td>
                    <form action="{{ url_for('update_order_status', order_id=order.id) }}" method="POST">
                        <select name="status">
                            <option value="Pending" {% if order.status == 'Pending' %}selected{% endif %}>Pending</option>
                            <option value="Sedang diproses" {% if order.status == 'Sedang diproses' %}selected{% endif %}>Sedang diproses</option>
                            <option value="Sedang dikirim" {% if order.status == 'Sedang dikirim' %}selected{% endif %}>Sedang dikirim</option>
                            <option value="Berhasil dikirim" {% if order.status == 'Berhasil dikirim' %}selected{% endif %}>Berhasil dikirim</option>
                        </select>
                        <button type="submit">Update</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('admin_dashboard') }}">Kembali ke Dashboard</a>
    </body>
    </html>

