<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keranjang</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div>
    <header>
        <h1>Kulinerku </h1>
        <nav>
            <a href="/">Home</a>
            <a href="/menu">Menu</a>
            <a href="/order_status/1">Pesanan Saya</a>
            <a href="/admin_login">Profil</a>
            </nav>
        </header>
       
        <ul>
            {% for item in cart %}
                <li>{{ item.name }} <p> Rp{{ item.price }}</li>
            {% endfor %}
        </ul>
       
        <a href="/menu"><button>Kembali ke Menu</button></a> <p>
        <a href="/checkout"><button>Pesan sekarang</button></a> <p>
        
    </body>
    </html>
    

 